############################################
# Project settings
############################################
PORT=3001

############################################
# PostgreSQL settings
# Keep DATABASE_URL in sync with the PG* vars below.
############################################
PGHOST=localhost
PGPORT=5432
PGDATABASE=ecomapdb
PGUSER=admin
PGPASSWORD=YOUR_PASSWORD_HERE
DATABASE_URL=postgres://admin:YOUR_PASSWORD_HERE@localhost:5432/ecomapdb

############################################
# Firebase
############################################
FIREBASE_KEY_PATH=./firebase-service-account-key.json

############################################
# JWT
############################################
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=24h

############################################
# External APIs
############################################
NAVARRA_RESOURCE_ID=e4e0017a-4b3a-4fbe-99b7-9a742c3bcd79
BARCELONA_RESOURCE_ID=c9d4d10b-97dd-4824-a7d8-5acf068d1cb8